.button-links {
    ul {
        columns: 1;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            a {
                border: 1px solid #ccc;
                width: 90%;
                display: block;
                padding: 10px 0 10px 40px;
                border-radius: 6px;
                margin-bottom: 5px;
                background: linear-gradient(#fff,#fff 2em,#f7f7f7);
                transition: all .35s ease-in-out;
                font-size: 16px;
                line-height: 1.3333;
                position: relative;

                .icon {
                    background-color: var(--color-blue);
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }

                &:hover {
                    text-decoration: none;
                    color: var(--color-blue);
                    
                    .icon {
                        animation: bounce 0.5s infinite ease-in-out;
                        animation-iteration-count: 1;
                    }
                }
            }
        }
    }

    @media (width >= 650px) {
        ul {
          columns: 2;
        }
      }

    @media (width >= 1000px) {
        ul {
          columns: 3;
        }
      }
}


@keyframes bounce {
    0% { top: 10px; }
    35% { top: 5px; }
    50% { top: 8px; }
    60% { top: 10px; }
    75% { top: 7px; }
    100% { top: 10px; }

}