
/* stylelint-disable no-descending-specificity, selector-class-pattern */
.query-list-wrapper {
    .query-list {
        &.list {
            ul {
                list-style: none;

                li {
                    a {
                        color: var(--text-color);
                        border-bottom: 1px solid #e7e7e7;
                        display: block;
                        
                        img {
                            display: none;
                        }

                        h3 {
                            font-size: var(--heading-font-size-s);
                            color: var(--color-blue);
                        }
                        
                        p {
                            font-size: var(--body-font-size-s);
                        }

                        span {
                            display: none;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}